<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col table--header-item">#</th>
      <th scope="col table--header-item">Name</th>
      <th scope="col table--header-item">Surname</th>
      <th scope="col table--header-item">Email</th>
      <th scope="col table--header-item">Birthdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
      {{ index + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <!-- <td>{{ user.birthdate }}</td> -->
    </tr>
  </tbody>
</table>
