/* Typography custom properties */

:root {
  --font-size: 1rem; /* 16px */
  --ratio: 1.333;

  /* Calculate values */

  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));
}

/* Set typoghraphy class */

.h1 {
  font-size: var(--h1);
  font-family: $typography-secondary-regular;
}

.h2 {
  font-size: var(--h2);
  font-family: $typography-primary-regular;
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.pharagraph {
  font-size: var(--font-size);
  font-family: $typography-secondary-regular;
}

.link {
  font-size: var(--font-size);
  font-family: $typography-secondary-regular;
}
